[submodule "extern/spdlog"]
	path = extern/spdlog
	url = http://github.com/gabime/spdlog.git
[submodule "extern/msgpack-c"]
	path = extern/msgpack-c
	url = https://github.com/msgpack/msgpack-c.git
	branch = cpp_master
[submodule "build/extern/cryptopp-cmake"]
	path = build/extern/cryptopp-cmake
	url = https://github.com/abdes/cryptopp-cmake.git
